section#copyright
    div.container
        div.row
            div.col-md-6.behind.text-left
                h4 ABOUT
                p.det
                    | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            div.col-md-3.quicklnks.text-left
                h4 BUSINESS HOURS
                ul.lnks
                    li
                        p Mon - Fri
                          span
                            | 8:00 am - 6:00 pm
                    li
                        p Saturday
                          span
                            | 8:00 am - 6:00 pm
                     li
                        p Sunday
                          span.closestat
                            | Closed


            div.col-md-3.conts.text-left
                h4 LOREM IPSUM
                ul.cntdets
                    li
                        a(href="mailto:info@buzzin.today")
                            i.fa.fa-envelope-o(aria-hidden='true')
                            | loremipsum@buzzin.today
                    li
                        a(href="tel:0123 456 789") 
                            i.fa.fa-phone(aria-hidden='true')
                            | 0123 456 789
                    li
                        a(href="tel:0123 456 789") 
                            i.fa.fa-mobile(aria-hidden='true')
                            | 0123 456 789
            div.col-md-12.text-center
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    != js()
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
    script(type="text/javascript" src='../js/lightbox-plus-jquery.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type="text/javascript" src="../js/webriq-bootstrap-material-ui.min.js")
    script(type="text/javascript" src="../js/jquery.expander.js")
    script(type="text/javascript" src="../js/jquery.vscroll.js")
    script(type="text/javascript" src='../js/isotope.pkgd.min.js')    
    script(type="text/javascript" src='../js/imagesloaded.pkgd.min.js')
    script(type="text/javascript" src='../js/lazyload.js')
    script(type="text/javascript" src='../js/sidenav.min.js')

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-589081c799aa2210")
    script#dsq-count-scr(src='//http-buzzin-today.disqus.com/count.js', async='')

    script.
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://buzzin-minisite.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();

    script.
      $('[data-sidenav]').sidenav();

    script.
      $(document).ready(function(){
      $(".closebtn").click(function(){
      $("nav").removeClass("show");
      });
      });

    script.
      $(document).ready(function() {
      $('.det.expand').expander({
      slicePoint: 167, //It is the number of characters at which the contents will be sliced into two parts.
      widow: 2,
      expandSpeed: 0, // It is the time in second to show and hide the content.
      userCollapseText: 'less' // Specify your desired word default is Less.
      });

      $('.det.expand').expander();

      });

    script.
      $('a[href^="#"]').on('click', function(event) {
      var target = $(this.getAttribute('href'));
      if( target.length ) {
      event.preventDefault();
      $('html, body').stop().animate({
      scrollTop: target.offset().top
      }, 600);
      }
      });

    script.
      (function() {
      "use strict";
      var toggles = document.querySelectorAll(".c-hamburger");
      for (var i = toggles.length - 1; i >= 0; i--) {
      var toggle = toggles[i];
      toggleHandler(toggle);
      };
      function toggleHandler(toggle) {
      toggle.addEventListener( "click", function(e) {
      e.preventDefault();
      (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
      });
      }
      })();
    
    script.
      $(document).ready(function() {
      //- $('div.expandDiv').expander({
      //- slicePoint: 367, //It is the number of characters at which the contents will be sliced into two parts.
      //- widow: 2,
      //- expandSpeed: 0, // It is the time in second to show and hide the content.
      //- userCollapseText: 'less' // Specify your desired word default is Less.
      //- });
      //- $('div.expandDiv').expander();

      $('#sliderhead').VScroll(0.1);

      });

    script.
      $(function(){
      var shrinkHeader = 2;
      $(window).scroll(function() {
      var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
      $('.containerheader').addClass('shrink');
      }
      else {
      $('.containerheader').removeClass('shrink');
      }
      });
      function getCurrentScroll() {
      return window.pageYOffset || document.documentElement.scrollTop;
      }
      });

    script.
      $(window).load(function(){
      var $container = $('#shop_wrapper').imagesLoaded( function() {
      $container.isotope({
      boxSelector: '.webshop_list_item'
      });
      });
      // filter
      $('#filters').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      $container.isotope({ filter: filterValue });
      });
      });

    script(type='text/javascript').
      $(document).ready(function () {
        $(".buttontween").on("click", function() {
          $(".sidenav-menu").removeClass('show-down');
        })
        $("#sidenav-toggle").on('click', function(){
          $('.sidenav-menu').each(function(){
            var list = $(this).find('li');
            TweenMax.staggerFromTo(list, 1, {y:"-=50", opacity: "0"}, {y:"0", opacity: "1"}, 0.2);
          })        
        })
        $("#sidenav-toggle").on('click', function(){
            TweenMax.staggerFromTo('.social-sidebar-topright li a', 2, {x:"-=100", opacity: "0"}, {x:"0", opacity: "1"}, 0.4);
            TweenMax.staggerFromTo('.credentials_nav p', 2, {x:"-=80", opacity: "0"}, {x:"0", opacity: "1"}, 0.4);      
        })
            TweenMax.staggerFromTo('#sliderhead .text-det h2', 3, {y:"-=50", opacity: "0"}, {y:"0", opacity: "1"}, 0.9);
            TweenMax.staggerFromTo('#sliderhead .text-det h4', 4, {y:"-=50", opacity: "0"}, {y:"0", opacity: "1"}, 0.9);
            TweenMax.staggerFromTo('#sliderhead .booknw2', 4, {y:"+=50", opacity: "0"}, {y:"0", opacity: "1"}, 0.9);
      })

    <!-- Google Analytics -->
    script(type="text/javascript")
        != records.site.sitedata[0].analytics