
header.containerheader
  nav.navbar.navbar-default.home
    .container
      // Brand and toggle get grouped for better mobile display
      .col-md-6.col-sm-6.col-xs-6.text-left.menuleft
          div.btnrigt
           a(href="javascript:;" class="toggle" id="sidenav-toggle") MENU

      .col-md-6.col-sm-6.col-xs-6.social-right
        ul.social-header-topright
         li
            a(href="https://www.facebook.com/BuzzinBrisbane" target="_blank") 
              i.fa.fa-facebook(aria-hidden='true')
         li
            a(href="https://twitter.com/BuzzinBrisbane" target="_blank")
              i.fa.fa-twitter(aria-hidden='true')
         li
            a(href="https://plus.google.com/106407925285870246194" target="_blank")
              i.fa.fa-google-plus(aria-hidden='true')
           
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×

  nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
     
     div.logonav
      a(href="https://minisite-social.sites.webriqs.com/#page-top")
        img(src="../img/hendy-training2.png") 
     ul.sidenav-menu
         li
            a(href="https://minisite-social.sites.webriqs.com/#page-top") Home
         li
            a(href="https://minisite-social.sites.webriqs.com/#health-and-safety") About Us
         li
            a(href="https://minisite-social.sites.webriqs.com/#services2") Web Services
         li
            a(href="https://minisite-social.sites.webriqs.com/#coursesoffer") Our Offers
         li
            a(href="https://minisite-social.sites.webriqs.com/#blogsec") Blog
         li
            a(href="https://minisite-social.sites.webriqs.com/#maps") Contact
      div.credentials_nav
               ul.social-sidebar-topright
                 li
                    a(href="https://www.facebook.com/BuzzinBrisbane" target="_blank") 
                      i.fa.fa-facebook(aria-hidden='true')
                 li
                    a(href="https://twitter.com/BuzzinBrisbane" target="_blank")
                      i.fa.fa-twitter(aria-hidden='true')
                 li
                    a(href="https://plus.google.com/106407925285870246194" target="_blank")
                      i.fa.fa-google-plus(aria-hidden='true')
               p.resrv © 2017 by Hendry Training


#sliderhead.blog-header2(style="background: #111 url(../img/listblog-bg.jpg) fixed")
    div.container
        div.text-det
            h5.related-title Latest Blogs
