

header.containerheader
  nav.navbar.navbar-default.home
    .container
      // Brand and toggle get grouped for better mobile display
      .col-md-6.col-sm-6.col-xs-6.text-left.menuleft
          div.btnrigt
           a(href="javascript:;" class="toggle" id="sidenav-toggle") MENU

      .col-md-6.col-sm-6.col-xs-6.social-right
        ul.social-header-topright
         li
            a(href="https://www.facebook.com/Buzzin/" target="_blank") 
              i.fa.fa-facebook(aria-hidden='true')
         li
            a(href="https://twitter.com/Buzzin" target="_blank")
              i.fa.fa-twitter(aria-hidden='true')
         li
            a(href="https://plus.google.com/Buzzin" target="_blank")
              i.fa.fa-google-plus(aria-hidden='true')
           
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×

  nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
     
     div.logonav
      a(href="http://localhost:1111/")
        img(src="../img/hendy-training2.png") 
     ul.sidenav-menu
         li
            a(href="http://localhost:1111/#page-top") Home
         li
            a(href="http://localhost:1111/#health-and-safety") About Us
         li
            a(href="http://localhost:1111/#services2") Web Services
         li
            a(href="http://localhost:1111/#coursesoffer") Our Offers
         li
            a(href="http://localhost:1111/#blogsec") Blog
         li
            a(href="http://localhost:1111/#maps") Contact
      div.credentials_nav
               ul.social-sidebar-topright
                 li
                    a(href="https://www.facebook.com/Buzzin/" target="_blank") 
                      i.fa.fa-facebook(aria-hidden='true')
                 li
                    a(href="https://twitter.com/Buzzin" target="_blank")
                      i.fa.fa-twitter(aria-hidden='true')
                 li
                    a(href="https://plus.google.com/Buzzin" target="_blank")
                      i.fa.fa-google-plus(aria-hidden='true')
               p.resrv © 2017 by Hendry Training



#sliderhead.blog-header(style="background: #111 url(../img/listblog-bg.jpg) fixed")
    div.container.text-center
        div.text-det
            h2=entry.title
            div.date-head              
              h6
                != "<i class='fa fa-bookmark-o'></i> <i>By</i> <b>" + entry.author + "</b> | <i class='fa fa-clock-o'></i> Created on <b> " + dateFormat(entry.date, 'LL') + "</b>"
