
header.containerheader
  nav.navbar.navbar-default.home
    .container
      // Brand and toggle get grouped for better mobile display
      .col-md-6.col-sm-6.col-xs-6.text-left.menuleft
          div.btnrigt
           a(href="javascript:;" class="toggle" id="sidenav-toggle") MENU

      .col-md-6.col-sm-6.col-xs-6.social-right
        ul.social-header-topright
         li
            a(href="https://www.facebook.com/hendrytraining/" target="_blank") 
              i.fa.fa-facebook(aria-hidden='true')
         li
            a(href="https://twitter.com/Hendry_Training" target="_blank")
              i.fa.fa-twitter(aria-hidden='true')
         li
            a(href="https://plus.google.com/103138710136868592759" target="_blank")
              i.fa.fa-google-plus(aria-hidden='true')
           
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×

  nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
     
     div.logonav
      a(href="http://www.hendry-training.buzzin.today")
        img(src="../img/hendy-training2.png") 
     ul.sidenav-menu
         li
            a(href="http://www.hendry-training.buzzin.today/#page-top") Home
         li
            a(href="http://www.hendry-training.buzzin.today/#health-and-safety") Health and safety training courses
         li
            a(href="http://www.hendry-training.buzzin.today/#services2") Professional Training Courses
         li
            a(href="http://www.hendry-training.buzzin.today/#coursesoffer") Other Courses
         li
            a(href="http://www.hendry-training.buzzin.today/#blogsec") Blog
         li
            a(href="http://www.hendry-training.buzzin.today/#maps") Contact
      div.credentials_nav
               ul.social-sidebar-topright
                 li
                    a(href="https://www.facebook.com/hendrytraining/" target="_blank") 
                      i.fa.fa-facebook(aria-hidden='true')
                 li
                    a(href="https://twitter.com/Hendry_Training" target="_blank")
                      i.fa.fa-twitter(aria-hidden='true')
                 li
                    a(href="https://plus.google.com/103138710136868592759" target="_blank")
                      i.fa.fa-google-plus(aria-hidden='true')
               p.resrv © 2017 by Hendry Training


#sliderhead.blog-header2(style="background: #111 url(../img/listblog-bg.jpg) fixed")
    div.container
        div.text-det
            h5.related-title Latest Blogs
