if _path == "/index.html"

    header.containerheader
        nav.navbar.navbar-default.home
          .container
            // Brand and toggle get grouped for better mobile display
            .col-md-6.col-sm-6.col-xs-6.text-left.menuleft
                div.btnrigt
                 a(href="javascript:;" class="toggle buttontween" id="sidenav-toggle") MENU

            .col-md-6.col-sm-6.col-xs-6.social-right
              ul.social-header-topright
               li
                  a(href="https://www.facebook.com/Buzzin/" target="_blank") 
                    i.fa.fa-facebook(aria-hidden='true')
               li
                  a(href="https://twitter.com/Buzzin" target="_blank")
                    i.fa.fa-twitter(aria-hidden='true')
               li
                  a(href="https://plus.google.com/Buzzin" target="_blank")
                    i.fa.fa-google-plus(aria-hidden='true')
                 
        a.closebtn(href='javascript:void(0)' class="buttontween") ×

        nav#nav2.sidenav(data-sidenav='', data-sidenav-toggle='#sidenav-toggle')
           
           div.logonav
            a(href="#page-top")
              img(src="../img/hendy-training2.png")
           ul.sidenav-menu
             li
                a(href="#page-top") Home
             li
                a(href="#health-and-safety") About Us
             li
                a(href="#services2") Web Services
             li
                a(href="#coursesoffer") Our Offers
             li
                a(href="#blogsec") Blog
             li
                a(href="#maps") Contact
            div.credentials_nav
               ul.social-sidebar-topright
                 li
                    a(href="https://www.facebook.com/Buzzin/" target="_blank") 
                      i.fa.fa-facebook(aria-hidden='true')
                 li
                    a(href="https://twitter.com/Buzzin" target="_blank")
                      i.fa.fa-twitter(aria-hidden='true')
                 li
                    a(href="https://plus.google.com/Buzzin" target="_blank")
                      i.fa.fa-google-plus(aria-hidden='true')
               p.resrv © 2017 by Buzzin


    #sliderhead.home
        div.container.text-center
            div.text-det
                h2 
                  span L
                  | orem Ipsum is simply dummy text of the printing and typesetting industry.
                h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            p.booknw2
                a.booknw.hvr-ripple-out(href="#maps") CONTACT NOW


            p.scrolldwn
                a(href="#aboutdailmore") SCROLL FOR MORE
                    i.fa.fa-long-arrow-down(aria-hidden='true')
