extends layout

block content
  #list-blog
    .container
      #bodyblog
        header
          h2.inner-blg-ttle= entry.title
          p.inner-blg-shrtdesc= entry.shortdesc
          p.blog-body-inner= entry.body