.social-header-topright li a {
    border: solid 2px #FFC400
}

/*Hover*/
.social-header-topright li:nth-child(1) a:hover{
    color: #3a3a3a
    background: rgb(234, 186, 26)
    border: 2px solid #ffc400
}
.social-header-topright li:nth-child(2) a:hover{
    color: #3a3a3a
    background: rgb(234, 186, 26)
    border: 2px solid #ffc400
}
.social-header-topright li:nth-child(3) a:hover{
    color: #3a3a3a
    background: rgb(234, 186, 26)
    border: 2px solid #ffc400
}

/*Font*/
#copyright .container h4{
    color: #ffffff
}

/*Button*/
#sliderhead .booknw2 a:hover{
    color: #fff !important
    background: rgba(255, 255, 255, 0.20)
    border: solid 2px #FFEB3B
}
.booknw{
    border: solid 2px #FFEB3B
    color: #FFEB3B
    background: rgba(24, 24, 24, 0.29)
}

/*Hover*/
.hvr-ripple-out:before{
    border: #FFC400 solid 1px
}